<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404"/>
            <error statusCode="404" path="404.html" responseMode="File"/>
        </httpErrors>
        <httpProtocol>
            <customHeaders>
            <clear />
            <remove name="X-Powered-By" />
            <add name="X-Frame-Options" value="SAMEORIGIN" />
            <add name="X-Xss-Protection" value="1" />
            <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
        </httpProtocol>
        <rewrite>
        <outboundRules rewriteBeforeCache="true">
            <rule name="Add HSTS Strict Transport Security Header" stopProcessing="true">
            <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                <conditions>
                <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                </conditions>
            <action type="Rewrite" value="max-age=15552000; includeSubDomains; preload" />
            </rule>
        </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
