{{ partial "header" . }}
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MR476H3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    {{ range sort .Paginator.Pages }}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <h2 class="subtitle is-5">{{ .Date.Format "January 2, 2006" }}</h2>
      {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
      {{ end }}
      <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        ... Continue reading <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          {{ .Title }}
          <span class="icon is-small">
            <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
</body>
